*.mp4 filter=lfs diff=lfs merge=lfs -text
data/*/start.heic filter=lfs diff=lfs merge=lfs -text
data/*/start.jpeg filter=lfs diff=lfs merge=lfs -text
data/*/start.jpg filter=lfs diff=lfs merge=lfs -text
data/*/start.png filter=lfs diff=lfs merge=lfs -text
